<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
</head>
<body>
  <div class="container mt-5">
    <div class="text-center mb-5">
      <h1>Welcome to Our App!</h1>
      <p class="lead">Your go-to platform for managing friends and more.</p>
    </div>

    <% if user_signed_in? %>
      <div class="text-center mb-4">
        <h3>Welcome back, <%= current_user.email %>!</h3>
        <p>What would you like to do today?</p>
        <%= link_to 'View Friends', friends_path, class: 'btn btn-primary btn-lg' %>
        <%= link_to 'Edit Profile', edit_user_registration_path, class: 'btn btn-secondary btn-lg' %>
      </div>
    <% else %>
      <div class="text-center mb-4">
        <p>New to our app? Join us today!</p>
        <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-success btn-lg' %>
        <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-info btn-lg' %>
      </div>
    <% end %>
  </div>
</body>
</html>
